img{
    height: 200px;
    width: 200px;
    border-radius: 30px;
  }
.flex-container{
  display: flex;
  justify-content: center;
  width: 500px;
  height: 50%;
  margin: 0 auto;
}
.cat-flex{
  margin: 10px;
  
}
.dog-flex{
  margin: 10px;
}
